.developer-logo-inner img {
  height: 65px; 
  padding-bottom: 10px;
}

/*
 * Use original Bootstrap color for links
 */
.alert-success a {
  color: #337ab7;
}

header {
  background: #436897;
}

section {
  padding: 0px 50px 0px 25px;
}