.developer-logo-inner img {
  height: 65px; 
  padding-bottom: 10px;
}

.alert-danger {
  line-height: 24px;
}

/*
 * Use original Bootstrap color for links
 */
.alert-danger a,
.alert-success a {
  color: #337ab7;
}

header {
  background: #436897;
}

section {
  padding: 0px 50px 0px 25px;
}

.bg-emoflonCore {
  background: #00994c;
  color: white
}

.bg-emoflonNeo {
  background: #666699;
  color: white
}

.bg-emoflonIbex {
  background: #006666;
  color: white
}

.bg-development {
  background: #333333;
  color: white
}

.bg-toolsuite {
  background: #AAAAAA;
  color: black
}

.bg-impressum {
  background: #AAAAAA;
  color: black
}

/* Taken from https://github.com/BlackrockDigital/startbootstrap-landing-page */
.emoflonToolsuiteSection {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.emoflonToolsuiteSection .testimonial-item {
  max-width: 18rem;
}

.emoflonToolsuiteSection .testimonial-item img {
  max-width: 12rem;
  //box-shadow: 0px 5px 5px 0px #adb5bd;
}

.rounded-circle {
    border-radius: 50% !important;
}

li {
  line-height: 1.5;
}

h5 {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
